.header {
    color: #333;
    padding: 60px 40px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 85%;
    position: relative;
  }
  
  .header-content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-section {
    display: flex;
    flex-direction: column;
  }
  
  .profile-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 5px solid #D8A7B1;
    margin-bottom: 20px;
  }
  
  .bio {
    margin-top: 20px;
  }
  
  h1 {
    font-size: 2.5em;
    margin: 10px 0;
    font-weight: bold;
    color: #3c3d3c; /* Soft green for the name */
  }
  
  p {
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    max-width: 700px;
    font-family: 'Roboto', sans-serif;
  }

  .location {
    color: #8a8a8a;
  }

  .social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 70%;
    font-size: 24px;
  }

  a {
    color: #333;
  }

  .disclaimer-section {
    margin-top: 20px;
    font-size: 14px;
    color: #8a8a8a;
    position: absolute;
    bottom: 0px;
  }

  .updated-on {
    color: #8a8a8a;
    font-size: 12px;
  }

  .buy-coffee {
    color: #8a8a8a;
    font-size: 12px;
    margin-top: 20px;
  }
  